<div class="container">
  <h1>All Posts done</h1>
  <p>Here here you see als posts that have been done</p>


<% if @posts_today.present? %>
  <h2>Today</h2>
  <ul>
  <% @posts_today.each do |post| %>
    <li>
      <div class="post-box">
        <%= post.user.email%> has...
        <%= post.title %>
        <%= link_to "View Update", post_path(post) %>
      </div>
      <div class="tag-box">
        <% post.tags.each do |tag|%>
          #<%= tag.name %>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
<% end %>
<% if @posts_yesterday.present? %>
  <h2>Yesterday</h2>
  <ul>
  <% @posts_yesterday.each do |post| %>
    <li>
      <div class="post-box">
        <%= post.user.email%> has...
        <%= post.title %>
        <%= link_to "View Update", post_path(post) %>
      </div>
      <div class="tag-box">
        <% post.tags.each do |tag|%>
          #<%= tag.name %>
        <% end %>
      </div>
    </li>
  <% end %>
  </ul>
<% end %>
<% if @posts_older.present? %>
  <h2>Older than yesterday</h2>
  <ul>
    <% @posts_older.each do |post| %>
      <li>
        <div class="post-box">
          <%= post.user.email%> has...
          <%= post.title %>
          <%= link_to "View Update", post_path(post) %>
        </div>
        <div class="tag-box">
        <% post.tags.each do |tag|%>
          #<%= tag.name %>
        <% end %>
      </div>
      </li>
  <% end %>
  </ul>
<% end %>
